body.index {
	background-color: green;
}

div.kirjaudu {
	background-color: white;
    margin: auto;
    text-align: center;
    padding: 30px;
    position: relative;
    top: 30px;
    width: fit-content;
    border: 5px solid lightgrey;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
}

input#tunnus {
	border: none;
    border-bottom: 2px dashed black;
    float: right;
}

input#salasana {
	border: none;
    border-bottom: 2px dashed black;
    float: right;
}

.vasen {
	float: left;
}
div.oikea {
	margin-bottom: 10px;
}

.nappi {
	float: right;
	margin-top: 10px;
}

th.hakusana {
	text-align: right;
	color: white !important;
}

th.hakunappi{
	text-align: left;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

a.muuta {
	font-weight: bold;
	color: blue;
}

.oikealle {
	text-align: right;
}

th, td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
}

vastaus {
	color: #4a4a4a;
}

tr.otsikko {
	color: #ffff80 !important;
	background-color: green !important;	
}

tr.haku {
	background-color: green !important;
}

tr:nth-child(even) {
  background-color: rgb(180, 180, 180);
  color: black;
}

.poista {
	text-decoration: none;
	font-weight: bold !important;
	color: red;
	cursor: pointer;
}
