th.hakusana {
	text-align: right;
	color: white !important;
}

th.hakunappi{
	text-align: left;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

a.muuta {
	font-weight: bold;
	color: blue;
}

.oikealle {
	text-align: right;
}

th, td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
}

vastaus {
	color: #4a4a4a;
}

tr.otsikko {
	color: #ffff80 !important;
	background-color: green !important;	
}

tr.haku {
	background-color: green !important;
}

tr:nth-child(even) {
  background-color: rgb(180, 180, 180);
  color: black;
}

.poista {
	text-decoration: none;
	font-weight: bold !important;
	color: red;
	cursor: pointer;
}
